.footer {
    text-shadow: 0 3px 7px rgba(18, 18, 18, 0.08);
    color: #63666a;
    font-family: Calibri;
    font-size: 23px;
    font-style: italic;
    text-transform: uppercase;
    max-width: 740px;
    height: 55px;
    background-color: #1b1b1c;
    margin-left:  120px;
    padding-left: 49px;
    display: flex;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, calc(100% - 60px) 100%, 0 100%);
}