.leftBlockElement {
    max-width: 370px;
    height: 107px;
    background-color: #373838;
    clip-path: polygon(0 20px, 20px 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    box-sizing: border-box;
    .upBlock {
        position: relative;
        max-width: 364px;
        width: 100%;
        height: 83px;
        background-color: #202020;
        clip-path: polygon(0 37px, 37px 0, 100% 0, 100% 100%, 0 100%);
        padding: 10px 0 0 34px;
        box-sizing: border-box;
        .text {
            opacity: 0.45;
            text-shadow: 4px 5px 13px rgba(18, 18, 18, 0.08);
            color: #ff1437;
            font-family: Calibri;
            font-size: 14px;
            font-style: italic;
            text-align: left;
            text-transform: uppercase;
        }
        .number {
            text-shadow: 4px 5px 13px rgba(18, 18, 18, 0.08);
            color: #ffffff;
            font-family: "Chakra Petch";
            font-size: 40px;
            font-style: italic;
            text-transform: uppercase;
            position: relative; 
        }
        .number img {
            position: absolute;
            right: 0; top: 50%;
            transform: translateY(-40%);
        }
        .label {
            position: absolute;
            top: 0;
            right: 0;
            background: linear-gradient(45deg, transparent 17px, #ed263a 0, #8b0513 70%);
            color: #ffffff;
            font-family: Calibri;
            font-size: 12px;
            font-weight: 700;
            font-style: italic;
            text-transform: uppercase;
            padding: 5px 16px 5px 55px;
        }
    }
    .downBlock {
        max-width: 364px;
        width: 100%;
        height: 21px;
        background: linear-gradient(-45deg, transparent 13px, #121213 0);
        text-shadow: 4px 5px 13px rgba(18, 18, 18, 0.08);
        color: #555555;
        font-family: "Chakra Petch";
        font-size: 14px;
        font-style: italic;
        line-height: normal;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        padding-left: 34px;
        box-sizing: border-box;
    }
    .downBlock::after {
        content: '($)';
    }
}
.differentColor {
    .upBlock{
        .text {
            color: #eaff00;;;
        }
        .label {
            background: linear-gradient(45deg, transparent 17px, #f4f4f5 0, #ecff1a 70%);
            color: #292929;;
        }
    }
}