.language {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 100%;
  background-color: #000000;
  clip-path: polygon(60px 0, 100% 0, 100% 100%, 0 100%);
  cursor: pointer;
  color: #ffffff;
  font-family: 'Russo One';
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  @media screen and (max-width: 767px) {
    background-color: transparent;
  }
}
