.rowBlock {
    max-width: 740px;
    height: 315px;
    background-color: #272829;
    margin-left: 120px;
    padding: 20px 163px 20px 49px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}