.rowBlock {
  height: 315px;
  background-color: #272829;
  padding: 20px 163px 20px 169px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media screen and (max-width: 1220px) {
    padding-right: 80px;
  }
  @media screen and (max-width: 1130px) {
    padding-right: 160px;
  }
  @media screen and (max-width: 620px) {
    padding-left: 90px;
    padding-right: 70px;
  }
}
