.topPanel {
    max-width: 1190px;
    height: 52px;
    display: flex;
    color: #191919;
    font-family: "Russo One";
    font-size: 23px;
    font-weight: 400;
    font-style: italic;
    text-transform: uppercase;
    @media screen and (max-width: 767px) {
        color: #53565a;
        font-size: 14px;
        margin-left: -50px;
        margin-right: -50px;
    }
    @media screen and (max-width: 374px) {
        font-size: 12px;
    }
    > * {
      background-color: #37383a;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    > *:hover {
        background-color: #efff37;
        @media screen and (max-width: 767px) {
            color: #ecff16;;
            background-color: #37383a;
        }
    }
    > *:active {
        transform: translate(1px, 1px);
        background-color: #dff307;
        @media screen and (max-width: 767px) {
            background-color: #37383a;
        }
    }
    > :not(:last-child) {
      max-width: 318px;
      clip-path: polygon(0 0, calc(100% - 55px) 0, 100% 100%, 55px 100%);
      margin-right: -55px;
      @media screen and (max-width: 767px) {
          clip-path: none;
          margin-right: 0;
      }
    }
    > :last-child {
      max-width: 400px;
      clip-path: polygon(0 0, 100% 0, calc(100% - 55px) 100%, 55px 100%);
      @media screen and (max-width: 767px) {
        clip-path: none;
    }
    }
  }
