.footer {
    display: flex;
    justify-content: space-between;
    > * {
        max-width: 300px;
        flex-grow: 1;
        height: 90px;
        background-color: #0e0e0e;
    }
    :nth-child(1) {
        clip-path: polygon(0 0, calc(100% - 90px) 0, 100% 100%, 0 100%);
    }
    :nth-child(2) {
        clip-path: polygon(90px 0, 100% 0, 100% 100%, 0 100%);
    }
}