.garage {
  background: url('../../../images/bacground_1920x1080.png') no-repeat;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: auto;
  background-size: cover;
  @media screen and (max-width: 576px) {
    background: url('../../../images/racingMobBackground.png');
  }

  .garageTimer {
    margin: 40px auto;
  }

  .garageBtn {
    margin-top: -60px;

    @media screen and (max-width: 1279.98px) {
      margin-top: 30px;
    }
  }

  .garageCardsOff {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 110px;
    margin-right: 110px;
    margin-top: 120px;

    @media screen and (max-width: 879.98px) {
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 60px;
    }

    @media screen and (max-width: 719.98px) {
      justify-content: center;
    }

    @media screen and (max-width: 719.98px) {
      margin-left: 0px;
      margin-right: 0px;
    }
    @media screen and (max-width: 576px) {
      margin-top: 40px;
    }
  }

  .garageLeftPanel {
    position: absolute;
    left: 0;
    bottom: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .garageFooter {
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
    padding-bottom: 40px;
    @media screen and (max-width: 576px) {
      margin: 40px 0 110px;
      padding-bottom: 0;
    }

    .garageText {
      max-width: 560px;
      margin: -60px auto 0;
      @media screen and (max-width: 576px) {
        margin: 0 auto;
        position: relative;
      }
      h2 {
        color: var(--yellow);
        font-family: 'Russo One';
        font-size: 37px;
        font-weight: 400;
        font-style: italic;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        text-transform: uppercase;
        @media screen and (max-width: 576px) {
          font-size: 20px;
        }
      }

      p {
        text-shadow: 1px 1px 3px rgba(18, 18, 18, 0.08);
        color: var(--white);
        font-family: 'Calibri';
        font-size: 16px;
        font-style: italic;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
        text-transform: uppercase;
        @media screen and (max-width: 576px) {
          margin: 0 32px
        }
      }
    }
  }
  .imageContainer {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    .image {
      width: 28px;
      height: 99px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
