.links {
    display: flex;
    width: 130px;
    justify-content: space-between;
    a {
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    > :nth-child(1) {
        background-image: url('./img/youtube.png');
    }
    > :nth-child(2) {
        background-image: url('./img/facebook.png');
    }
    > :nth-child(3) {
        background-image: url('./img/twitter.png');
    }
    > :hover {
        transform: scale(1.25);
        transition: all 0.3s ease 0s;
    }
}
