.timerElement {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 61px;
  background: linear-gradient(to bottom, #1f1f1f 50%, #181818 50%);
  clip-path: polygon(0 12%, 17% 0, 100% 0, 100% 88%, 83% 100%, 0 100%);
  color: #eaff00;
  font-family: 'Chakra Petch';
  font-size: 26px;
  font-weight: 400;
  line-height: 37.28px;
  text-align: center;
  text-transform: uppercase;
}
.redColor {
  color: #ff1437;
}
