.rightBlockRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media screen and (max-width: 1210px) {
    justify-content: center;
  }
  > * {
    margin: 0 auto;
    @media screen and (max-width: 1210px) {
      margin: 0;
    }
  }
}
