@font-face {
  font-family: 'Russo One';
  src: url('RussoOne-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Chakra Petch Semi Bold Italic';
  src: url('ChakraPetch-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('ChakraPetch-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri';
  src: url('Calibri Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri Light Italic';
  src: url('Calibri Light Italic.ttf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Calibri Bold Italic';
  src: url('Calibri Bold Italic.ttf');
  font-weight: 700;
  font-style: italic;
}
