.main {
  background: url('../../../images/back.png') no-repeat;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: fixed;
  overflow: auto;

  
    .header{
      .modal {
        @media screen and (max-width: 576px) {
          position: absolute;
          top: -65px;
          left: 50%;
        }
      }
    }
    .content{
      flex: 1 1 auto;
      padding: 0 90px;
      @media screen and (max-width: 920px) {
        padding: 0 15px;
      }

      .timerAndButtonBox {
        margin-top: 16px;
      }
  
      .logo {
        margin-top: 100px;
        width: 825px;
        height: 97px;
        @media screen and (max-width: 1080px) {
          margin-top: 50px;
        }
      }
      .letsRide {
        width: 690px;
        height: 65px;
        margin-top: 110px;
        background-image: url('./img/LetsRideBackground.png');
        background-repeat: no-repeat;
        text-shadow: 0 6px 13px rgba(18, 18, 18, 0.08);
        color: #191919;
        font-family: "Russo One";
        font-size: 65px;
        font-weight: 400;
        font-style: italic;
        text-align: center;
        text-transform: uppercase;
        @media screen and (max-width: 1080px) {
          margin-top: 50px;
        }
      }
      .howItWorks {
        margin-top: 62px;
        width: 690px;
        color: #f6343f;
        font-family: Calibri;
        font-size: 40px;
        font-weight: 700;
        font-style: italic;
        line-height: 26.87px;
        text-align: center;
        text-transform: uppercase;
      }
      .mainInfo {
        margin-top: 60px;
        width: 690px;
       

      }
    }
    .footer{
      .mainFooter {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: flex-end;
        @media screen and (max-width: 900px) {
          margin-top: 40px;
        }
        .bigImage {
          position: relative;
          width: 411px;
          @media screen and (max-width: 576px) {
            width: 359px;
            height: 61px;
          }
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
          .smallImage {
            position: absolute;
            bottom: 3px;
            left: 0;
            width: 62px;
            height: 37px;
            z-index: -1;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .footerLinks {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-25%, -50%);
        }
      }
    }
}
