.mainHeader {
  max-width: 1920px;
  height: 60px;
  img {
    width: 100%;
    height: 60px;

    &:nth-child(2) {
      width: 40px;
      height: 20px;
      position: absolute;
      top: 2%;
      left: 50%;
      cursor: pointer;
    }
  }

  h5 {
    text-shadow: 0 6px 13px rgba(18, 18, 18, 0.08);
    color: var(--white);
    font-family: 'Russo One';
    font-size: 18px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 2%;
    right: 5%;
    cursor: pointer;
  }

  .headerLogo {
    position: absolute;
    max-width: 282px;
    height: 60px;
    left: 2%;
    top: 0;
    z-index: 2;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
