.about {
    background: url('../../../images/bacground_1920x1080.png') no-repeat;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-size: cover;
    overflow: auto;
    @media screen and (max-width: 576px) {
        background: url('../../../images/backgroundPageMob.png');
    }

    .content {
        padding: 0 15px;
        @media screen and (max-width: 576px) {
            padding: 0 5px;
        }

        .timer {
            margin: 16px 0;
        }

        .buttonsBox {
            margin-top: -75px;
            @media screen and (max-width: 1279.98px) {
                margin-top: 90px;
            }
        }

        .middleBlock {
            margin-top: 25px;
            display: flex;
            flex-wrap: wrap;

            .buttons {
                @media screen and (max-width: 370px) {
                   // margin-left: 40px;
                }
                > :not(:last-child) {
                    margin-right: 22px;
                    @media screen and (max-width: 370px) {
                       // margin-right: 50px;
                    }
                }
                > * {
                    margin-bottom: 22px;
                }
                @media screen and (max-width: 576px) {
                    width: 365px;
                    margin-bottom: 15px;
                }
                @media screen and (max-width: 370px) {
                    width: 300px;
                    margin-bottom: 15px;
                }

            }

            .text {
                clear: both;
                color: #ffffff;
                font-family: "Russo One";
                font-size: 24px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: normal;
                line-height: normal;
                padding-bottom: 42px;
                @media screen and (max-width: 576px)  {
                    text-align: center;
                    font-size: 20px;
                }
            }

            .left {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex: 1 0 45%;

                .leftBlock {
                    max-width: 739px;
                    padding-right: 15px;
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 1 0 55%;
                min-width: 450px;
                @media screen and (max-width: 478px) {
                   min-width: 320px;
                }
                
                .rightBlock {
                    max-width: 907px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    .image {
                        margin-bottom: 20px;
                        position: relative;
                        @media screen and (max-width: 576px) {
                            margin-top: 12px;
                            margin-bottom: 45px;
                        }

                        .car {
                            width: 571px;
                            height: 310px;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%) scaleX(-1);
                            @media screen and (max-width: 478px) {
                                width: 320px;
                                height: 173px;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer {
        margin-top: 68px;

        .mobileFooter {
            position: relative;
            margin-bottom: 100px;
             
            .topFooterTitle {
                color: var(--white);
                font-family: 'Russo One';
                font-size: 18px;
                font-weight: 400;
                font-style: italic;
                letter-spacing: normal;
                line-height: 25.5px;
                text-align: center;
                text-transform: uppercase;
            }
            
            .imageContainer {
                position: absolute;
                width: 100%;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                justify-content: space-between;
                .image {
                    width: 32px;
                    height: 102px;
                    .img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

    }
}

.button {
    width: 96px;
    float: left;
    @media screen and (max-width: 576px) {
        width: 159px;
    }
    @media screen and (max-width: 370px) {
        width: 125px;
    }
 a {
    .buttonUp {
        position: relative;
        height: 92px;
        @media screen and (max-width: 576px) {
            height: 153px;
        }
        @media screen and (max-width: 370px) {
            height: 120px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .innerImage {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
     .buttonDown {
        position: relative;
        width: 79px;
        height: 21px;
        @media screen and (max-width: 576px) {
            width: 133px;
            height: 36px;
        }
        @media screen and (max-width: 370px) {
            width: 110px;
            height: 30px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .buttonText {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-70%, -50%);   
            text-shadow: 0 0 8px rgba(18, 18, 18, 0.26);
            color: #ffffff;
            font-family: "Chakra Petch";
            font-size: 10px;
            font-weight: 400;
            font-style: italic;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
            text-transform: uppercase;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            @media screen and (max-width: 576px) {
                font-size: 17px;
            }
            @media screen and (max-width: 370px) {
                font-size: 14px;
            }
        }
     }
 }
}