.garageMenu {
  background: url('../../../images/bacground_1920x1080.png') no-repeat;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: auto;
  background-size: cover;
  @media screen and (max-width: 576px) {
    background-position: center;
  }

  .wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    .content{
      flex: 1 1 auto;
      .garageMenuTimer {
        margin: 16px auto 40px;
      }
    
      .garageMenuBtn {
        margin-top: -100px;
        @media screen and (max-width: 1279.98px) {
          margin-top: 30px;
        }
        @media screen and (max-width: 576px) {
          margin-top: 0;
        }
      }
    
      .garageMenuLeftPanel {
        position: absolute;
        left: 0;
        bottom: 0;
    
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .footerBox{
      .footer {
        width: 100%;
        margin-top: 16px;
      }
    }
  }
}
