.aboutButtonBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 445px;
  @media screen and (max-width: 767px) {
    justify-content: space-around;
    max-width: none;
  }
  > *:not(:last-child) {
    margin: 0 5px 33px 0;
  }
}
