.top {
  background: url('../../../images/bacground_1920x1080.png') no-repeat;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: auto;
  background-size: cover;
  min-width: 320px;
  @media screen and (max-width: 576px) {
    background-position: center;
  }

  .wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   
    .content{
      flex: 1 1 auto;

      .topTimer {
        margin: 40px 0;
      }
      .topBtn {
        margin-top: -100px;
        @media screen and (max-width: 1279.98px) {
          margin-top: 60px;
        }
        @media screen and (max-width: 576px) {
          margin-top: 0;
        }
      }
      .items{
        display: flex;
        flex-wrap: wrap;
      }
    }
    .footerBox{
      .topFooter {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        height: 90px;
        @media screen and (max-width: 765px) {
          justify-content: left;
        }
        @media screen and (max-width: 576px) {
          margin-top: 0;
          align-items: center;
          margin-bottom: 119px;
          justify-content: center;
        }
    
        .topFooterTitle {
          position: relative;
          color: var(--white);
          font-family: 'Russo One';
          font-size: 18px;
          font-weight: 400;
          font-style: italic;
          letter-spacing: normal;
          line-height: 25.5px;
          text-align: center;
          text-transform: uppercase;
          @media screen and (max-width: 765px) {
            margin-left: 30px;
          }
          @media screen and (max-width: 576px) {
            margin-left: 0;
          }
          .line {
            position: absolute;
            width: 1575px;
            height: 65px;
            left: 50%;
            top: 0;
            transform: translate(-50%, 0);
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .imageContainer {
          position: absolute;
          width: 100%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          justify-content: space-between;
          .image {
            width: 32px;
            height: 102px;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
        .footer {
          position: absolute;
          width: 100%;
          left: 0;
          top: 0;
        }
      }
    }
  }
}
