.top {
  background: url('../../../images/bacground_1920x1080.png') no-repeat;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: auto;
  background-size: cover;
  min-width: 320px;
  @media screen and (max-width: 576px) {
    background: url('../../../images/backgroundPageMob.png');
  }

  .topTimer {
    margin: 40px 0;
  }
  .topBtn {
    margin-top: -100px;
    @media screen and (max-width: 1279.98px) {
      margin-top: 30px;
    }
    @media screen and (max-width: 576px) {
      margin-top: 0;
    }
  }

  .topFooter {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 66px;
    width: 100%;
    @media screen and (max-width: 765px) {
      justify-content: left;
    }
    @media screen and (max-width: 576px) {
      margin-top: 0;
      align-items: center;
      margin-bottom: 119px;
      justify-content: center;
    }

    .topFooterTitle {
      color: var(--white);
      font-family: 'Russo One';
      font-size: 18px;
      font-weight: 400;
      font-style: italic;
      letter-spacing: normal;
      line-height: 25.5px;
      text-align: center;
      text-transform: uppercase;
      @media screen and (max-width: 765px) {
        margin-left: 30px;
      }
      @media screen and (max-width: 576px) {
        margin-left: 0;
      }
    }
    .imageContainer {
      position: absolute;
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: space-between;
      .image {
        width: 32px;
        height: 102px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .footer {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
    }
  }
}
