.window {
  @keyframes modal {
    0% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 350px;
  height: 215px;
  background-color: #161616;
  opacity: 0.8;
  padding-left: 100px;
  box-sizing: border-box;
  position: absolute;
  top: 88px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
  animation-duration: 1s;
  animation-name: modal;
  animation-fill-mode: forwards;
  @media screen and (max-width: 767px) {
    top: 180px;
  }
  @media screen and (max-width: 375px) {
    width: 300px;
  }
  h2 {
    position: relative;
    text-align: left;
    color: #ffffff;
    font-family: 'Calibri';
    font-size: 20px;
    font-weight: 400;
    line-height: 26.87px;
    text-transform: uppercase;
  }
  :nth-child(1)::before {
    content: url('./img/settings_on.svg');
  }
  :nth-child(2)::before {
    content: url('./img/chat_icon_on.svg');
  }
  :nth-child(3)::before {
    content: url('./img/notification_icon_on.svg');
  }
  > ::before {
    display: block;
    width: 32px;
    height: 28px;
    position: absolute;
    transform: translate(calc(-100% - 22px), 0);
  }
}
.window::before {
  content: '';
  position: absolute;
  left: 50%;
  top: -40px;
  transform: translate(-50%, 0);
  border: 20px solid transparent;
  border-bottom: 20px solid #161616;
}
.window.mainPage {
  @media screen and (max-width: 767px) {
    top: 110px;
  }
}
