.buttonsBox {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  align-items: flex-end;
  margin-left: 100px;
  margin-right: 100px;

  div {
    display: flex;
  }

  .buttonsBoxBtn {
    div {
      margin-left: 20px;
    }
  }

  .buttonsBoxTimer {
    flex-direction: column;
    align-items: center;
    margin-left: 50px;

    p {
      text-shadow: 1px 1px 3px rgba(18, 18, 18, 0.08);
      color: var(--white);
      font-family: 'Russo One';
      font-size: 18px;
      font-weight: 400;
      letter-spacing: normal;
      line-height: 37.97px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
